@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$footerColor: #f5f5f5;

@mixin header {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.bg-primary {
  a {
    color: $primary;
  }
}

.cardHeader {
 color: #fff;
}

.cardFooter {
  background-color: $footerColor;
}

.huge {
  font-size: 40px;
}

.bg-primary {
  .card-header {
    @include header
  }
  a {
    color: $primary;
  }
}
.bg-warning {
  .card-header {
    @include header

  }
  a {
    color: $warning;
  }
}
.bg-success{
  .card-header {
    @include header
  }
  a {
    color: $success;
  }
}
.bg-danger{
  .card-header {
    @include header
  }
    a {
    color: $danger;
  }
}


