.pagination {
	li.active {
		a {
			color: #ff9900;
		}
	}
}
.dataTables_scrollHeadInner {
	min-width: 100% !important;
}
.dataTables_scrollBody {
	table {
		tr {
			td {
				max-width: 400px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	>table {
		min-width: 100% !important;
	}
}
div.dataTables_scrollBody {
	>table {
		min-width: 100% !important;
	}
}
.MuiTableBody-root {
	tr.odd {
		background-color: #e1e0e0 !important;
	}
}
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft {
	background-color: #e1e0e0;
}
.MuiTable-root {
	border: 1px solid #000000;
	>tbody {
		>tr {
			>td {
				border: 1px solid #000000;
			}
			>th {
				border: 1px solid #000000;
			}
		}
	}
	>tfoot {
		>tr {
			>td {
				border: 1px solid #000000;
			}
			>th {
				border: 1px solid #000000;
			}
		}
	}
	>thead {
		>tr {
			>td {
				border: 1px solid #000000;
			}
			>th {
				border: 1px solid #000000;
			}
		}
	}
}
.report_table_head {
	background-color: rgba(102,102,102,1);
	tr {
		th {
			color: white;
			text-align: center;
		}
	}
}
.report_table.dataTable {
	thead {
		.sorting {
			&:after {
				opacity: 0.5 !important;
				color: white !important;
			}
		}
	}
}
