.csv_download {
	display: flex;
	flex-direction: column;
	float: right;
}
#export-current-CSV {
	background-color: rgba(102,102,102,1);
	color: white;
	&:hover {
		color: #333;
		background-color: #a5a1a1;
		border-color: #adadad;
	}
}