/* .formSearch .row.no-gutters > [class*="col-"]{
    padding-left:0 ;
    padding-right:0 ;
} */
.formSearch .row{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.label-search, .input-search{
    border: 1px solid #ddd;
    margin: -1px 0 0 0;
    padding: 20px;
}
.label-search{
    background: #EEE;
    padding-top: 27px;
}
.input-search ul {
    margin-bottom: 0;
    padding-left: 0;
    padding: 6px 0;
}
.input-search.check-list ul li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}
.input-search.check-list ul li:last-child{
    margin-right: 0;
}
.input-search.check-list ul li label{
    margin-bottom: 0;
}

.input-search.custom-daterange {
    display: flex;
    line-height:34px;
}
.formSearch .btn-custom{
    padding: 11px;
    width: 116px!important;
}
.btn-secondary{
    background: gray;
    color: white;
    font-weight: bold;
}