.pagination li.active a {
    color: #ff9900;
}

.csv_download {
    display: flex;
    flex-direction: column;
    float: right;
}

#export-current-CSV {
    background-color: rgba(102,102,102,1);
    color: white;
}

#export-current-CSV:hover {
    color: #333;
    background-color: #a5a1a1;
    border-color: #adadad;
}

.dataTables_scrollHeadInner {
    min-width: 100% !important
}

.dataTables_scrollBody table tr td {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis
}

.dataTables_scrollBody>table,
div.dataTables_scrollBody>table {
    min-width: 100% !important
}

.dataTables_scrollBody table tbody tr.odd {
    background-color: #e1e0e0;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000000;
}

.report_table_head {
    background-color: rgba(102,102,102,1);
}

.report_table_head tr th {
    color: white;
    text-align: center;
}

.report_table.dataTable thead .sorting:after {
    opacity: 0.5 !important;
    color: white !important;
}

.ajax_error {
    white-space: pre-line;
    margin-bottom: 20px;
}

.header_table {
    color: white;
}

.min_width_200 {
    min-width:200px;
}

.wrap_text_in_cell {
   white-space:normal;
}

/* loadingArea */
#loadingArea {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    background: rgba(256,256,256,0.6);
}

@media (min-width: 768px) {
    #loadingArea {
        left: 125px;
    }
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loading_spinner {
    position: relative;
    top: 50%;
    left: auto;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    color: rgba(0,66,144,0.8);
}

#loading_spinner::after {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 100%;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.sortBtnArea label {
    display: inline-block;
    width:auto;
    height: auto;
    color: #000;
    text-align: center;
    margin: 0 10px 0 0 !important;
    cursor: pointer;
    background:#d5d5d5;
    border-radius:5px;
}

.sortBtnArea label:hover {
    display: inline-block;
    width:auto;
    height: auto;
    color: #fff;
    text-align: center;
    margin: 0 10px 0 0 !important;
    cursor: pointer;
    background: #adadad;
    border-radius:5px;
}

.vertical_center {
    display: flex;
    align-items: center;
}

.total-month {
    font-weight: bold;
}

.width_120 {
    width: 140px;
}